<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="Ip" value="192.168.1.93" />
    <add key="Port" value="3450" />
    <add key="ComPort" value="COM6" />
    <add key="BaudRate" value="9600" />
    <add key="DataBit" value="8" />
    <add key="Parity" value="Even" />
    <add key="StopBits" value="One" />
    <add key="Trace" value="C:\Program Files (x86)\EZCash\EZCDU.log" />
    <add key="EZCashAPI" value="http://20.62.236.99:3000//api/v1/" />
    <add key="DescriptionLoad" value="2" />
    <add key="EZcashIP" value="127.0.0.1"/>
    <add key="EZcashPort" value="3450"/>
  </appSettings>
</configuration>