<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
<appSettings>
      <!--Host IP Address-->
      <add key="Ip" value="XXX.XXX.XXX.XXX" />
      <!--Host Port Number-->
      <add key="Port" value="XXX" />
      <!--Host COM Port Number for Serial Connection-->
      <add key="ComPort" value="COM4" />
      <!--Host COM BaudRate for Serial Connection-->
      <add key="BaudRate" value="9600" />
      <!--Host COM DataBit for Serial Connection-->
      <add key="DataBit" value="8" />
      <!--Host COM Parity for Serial Connection-->
      <add key="Parity" value="Even" />
      <!--Host COM StopBits for Serial Connection-->
      <add key="StopBits" value="One" />
      <!--Log File Loction Path-->
      <add key="Trace" value="C:\Program Files (x86)\EZCash\EZCDU.log" />
      <!--Customer Message for GUI-->
      <add key="DescriptionLoad" value="Please scan the Barcode" />
      <!--EZCash ATM Service Host IP-->
      <add key="EZcashIP" value="XXX.XXX.XXX.XXX" />
      <!--EZCash ATM Service Host Port-->
      <add key="EZcashPort" value="XXX" />
      <!--Log File Size in MB-->
      <add key="LogSize" value="100" />
      <!--EZCash Error Log File Location Path-->
      <add key="ExceptionLog" value="C:\Program Files (x86)\EZCash\EZCDUException.log" />
</appSettings>
</configuration>